<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="AppleServicesUrl" value="https://www.apple.com/support/systemstatus/data/developer/system_status_en_US.js"/>
  </appSettings>
</configuration>
